
<div>
    <button onclick="location.assign('/Home/Pedidos')" type="button" class="btn btn-primary">Pedidos</button>
    <button onclick="location.assign('/Home/Produtos')" type="button" class="btn btn-primary">Produtos</button>
    <button onclick="location.assign('/Home/Clientes')" type="button" class="btn btn-primary">Clientes</button>

</div>