@{
    ViewData["Title"] = "Home Page";
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome do Cliente</th>
            <th scope="col">Produtos</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (Pedido pedido in Empresa.Pedidos)
            {
                <tr>
                    <th scope="row">@pedido.ID</th>
                    <td>@pedido.Cliente.Nome</td>
                    <td>@pedido.Produtos</td>
                </tr>
            }
        }
    </tbody>
</table>
