@{
    ViewData["Title"] = "Pedidos";
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome do Cliente</th>
            <th scope="col">Produtos</th>
            <th scope="col">Subtotal</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (Pedido pedido in Empresa.Pedidos)
            {
                <tr>
                    <th scope="row">@pedido.ID</th>
                    <td>@pedido.Cliente.Nome</td>
                    <td>@{
                            foreach (Produto produto in pedido.Produtos)
                            {
                                <div class="produto">@produto.Desc - R$@produto.Valor</div>
                            }    
                        }</td>
                    <td>R$@pedido.PrecoTotal()</td>
                </tr>
            }
        }
    </tbody>
</table>
