@{
    ViewData["Title"] = "Produtos";
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Descrição</th>
            <th scope="col">Valor</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (Produto produto in Empresa.Produtos)
            {
                <tr>
                    <td scope="row">@produto.ID</td>
                    <td>@produto.Desc</td>
                    <td>@produto.Valor</td>
                </tr>
            }
        }
    </tbody>
</table>
